
services:
  flask-app-NotePaper:
    # 指定容器名称
    container_name: NotePaper
    # 使用主机网络模式，否则 Nginx 无法获取真实 IP ，此时端口映射失效
    # network_mode: host
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      FLASK_ENV: production
      FLASK_APP: app.py


