<style>
  .container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-cell {
    position: relative;
    margin: 0 calc(2% + 5px);
  }
  .side-content {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
  }
</style>
<div class="stack">
  <div class="container">
    <div class="grid-cell">
      <div class="layer">
          <div class="layer">
              <div class="layer">
                  <div id="editor" class="side-content">
                    <textarea class="content"></textarea>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="grid-cell">
       <div class="layer">
        <div class="layer">
            <div class="layer">
                <div id="viewer" class="side-content">
                  <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
    </div>



  </div>
  <div class="flag">
        <a href="/">{{ site_name }}</a>/<a href="javascript:void(0)" id="footer"></a>
    </div>
</div>
<pre class="print">
</pre>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/static/js/note-update.js"></script>
<script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
<script src="/static/js/md-client.js"></script>
<script>
  document.querySelector("textarea.content").addEventListener("input", () => {
      renderMd(document.querySelector("textarea.content").value);
  });
  document.querySelector("#footer").addEventListener("click", () => {
        const pathname = decodeURIComponent(window.location.pathname);
        window.open('/papyrus/saving/md/' + pathname.substring(3, pathname.length), '_self');
    });
</script>