<div class="stack">
    <div class="layer">
        <div class="layer">
            <div class="layer">
                <div class="content">
                </div>
            </div>
        </div>
    </div>
    <div class="flag">
        <a href="/">{{ site_name }}</a>/<a href="javascript:n=decodeURIComponent(window.location.pathname);window.open('/'+n.substring(1,n.length-3)+'?save-md','_self')" id="footer"></a>
    </div>
</div>
<pre class="print">
</pre>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
<script src="/static/js/md-client.js"></script>