<div class="stack">
    <div class="layer">
        <div class="layer">
            <div class="layer">
                <textarea class="content">{{ text }}</textarea>
            </div>
        </div>
    </div>
    <div class="flag">
        <a href="/">{{ site_name }}</a>/<a href="?save">{{ page }}</a>
    </div>
</div>
<pre class="print"></pre>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/static/js/note-update.js"></script>
<script src="/static/js/note-personalize.js"></script>