<div class="stack">
    <div class="layer">
        <div class="layer">
            <div class="layer">
                <div class="content"  style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                ">
                    <div style="
    font-size: 35px;
    ">'s' stands for share.</div>
                    <div>/s/make/your_page_id<br>You'll see fantastic things happening.</div>
                    <div>
                        <form><input type="text" id="page_id" name="page_id" value=""
                                style="height: 20px;border: 1px solid;border-radius: 4px;">
                            <input type="button" id="confirm" value="GO" style="
        border: 1px solid;
        border-radius: 4px;
    ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flag">
        <a href="/">{{ site_name }}</a>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
<script>
    $("#confirm").on("click", () => {
        window.open("./make/" + $("#page_id").val(), "_self");
    })
</script>