<div class="stack">
    <div class="layer">
        <div class="layer">
            <div class="layer">
                <textarea class="content" readonly>{{ text|e }}</textarea>
            </div>
        </div>
    </div>
    <div class="flag">
        <a href="/">{{ site_name }}</a>/<a href="?save">{{ page|e }}</a> - ReadOnly
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
<script src="/static/js/note-personalize.js"></script>