<div class="stack">
    <div class="layer">
        <div class="layer">
            <div class="layer">
                <textarea class="content" readonly>{{ text|e }}</textarea>
            </div>
        </div>
    </div>
    <div class="flag">
        <a href="/">{{ site_name }}</a>/<a href="?save">{{ page|e }}</a> - ReadOnly
    </div>
</div>